<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Evènements</h4>
			{{ form_start(form, {"attr": {"class": "form-sample"}}) }}
			<p class="card-description">
				Ajouter un évènement
			</p>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom de l\'évènement'}}) }}
						</div>
					</div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            {{ form_label(form.type, 'Type', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
              {{ form_widget(form.type, {'attr': {'class': 'js-example-basic-single w-100'}}) }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            {{ form_label(form.place, 'Lieu', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
            <div class="col-sm-9">
              {{ form_widget(form.place, {'attr': {'class': 'js-example-basic-single w-100'}}) }}
            </div>
          </div>
        </div>
        <div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.startedAt, 'Démarre le', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.startedAt, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
        </div>
        <div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.endedAt, 'Fini le', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.endedAt, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-2">{{ submit_label ?? 'Enregistrer' }}</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
