{% extends "company_dashboard.html.twig" %}

{% block body %}
    <div class="content-body">
        <div class="container-fluid">
            {{ include('partials/_page_title.html.twig', {'titles': {'Evènements': path('app_event_index'), (event.name): path('app_event_show', {'id': event.id}), 'Participer': ''}}) }}
            <!-- row -->
            <div class="row">
                <div class="col-xl-6 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Participer à un évènement</h4>
                        </div>
                        <div class="card-body">
                            <div class="basic-form">
                                {{ form_start(form) }}
                                    <div class="row">
                                        <div class="col-sm-6">
                                            {{ form_label(form.participants, 'Participants', {'label_attr': {'class': 'form-label'}}) }}  
                                            {{ form_widget(form.participants, {'attr': {'class': 'disabling-options'}}) }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">{{ submit_label ?? 'Enregistrer' }}</button>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ row --> 
        </div>
    </div>
{% endblock %}
