{% extends 'home/base.html.twig' %}

{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Bienvenue à <span>CCI-Events</span>
      </h1>
      <h2>La dynamique B2B de la CCI Bénin</h2>
      <div class="d-flex">
        <a href="{{ path('app_login') }}" target="_blank" rel="noopener noreferrer" class="btn-get-started scrollto">Se connecter</a>
        <a href="{{ path('app_register') }}" target="_blank" rel="noopener noreferrer" class="btn-get-started scrollto mx-1">S'enregistrer</a>
        {#        <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>#}
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          {% for eventType in eventTypes %}
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
              <div class="icon-box w-100" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">{{ eventType.name }}</a></h4>
                <a href="{{ path('app_home_event_type_show', {'id': eventType.id}) }}" class="btn btn-primary">Evènements</a>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>B2B</h2>
          <h3>Rencontres entre <span>chefs d'entreprises</span></h3>
          <p>Mettez en place de nouveaux partenariats et dynamisez vos relations d'affaires</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{{ asset('assets/img/about.jpeg') }}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <h3>La CCI Bénin organise pour vous des rencontres et évènements de qualité pour vous faire profiter de son expertise</h3>
            <p class="font-italic">
              Une équipe de professionnels disponibles pour vous accompagner
            </p>
            <ul>
              <li>
                <i class="bx bx-store-alt"></i>
                <div>
                  <h5>Rencontres d'entreprises</h5>
                  <p>Des rencontres régulièrement organisées pour animer vos échanges professionnels</p>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Un annuaire diversifié</h5>
                  <p>Quelque soit votre secteur d'activité, retrouvez vos pairs pour de nouvelles opportunités d'affaires</p>
                </div>
              </li>
            </ul>
            <p>
              Dans les affaires humaines, une marrée montante, qu'on la saisisse au passage, elle mène à la fortune
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills">
      <div class="container" data-aos="fade-up">

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              {% set globalAttendanceRate = (globalAttendanceRate * 100)|number_format %}
              <span class="skill">Taux de présence <i class="val">{{ globalAttendanceRate }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ globalAttendanceRate }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              {% set globalAttendanceValidationRate = (globalAttendanceValidationRate * 100)|number_format %}
              <span class="skill">Taux de participation <i class="val">{{ globalAttendanceValidationRate }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ globalAttendanceValidationRate }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            {#            <div class="progress">#}
            {#              {% set highestAttendanceRate = (highestAttendanceRate * 100)|number_format %}#}
            {#              <span class="skill">Taux d'interessement des entreprises <i class="val">{{ highestAttendanceRate }}%</i></span>#}
            {#              <div class="progress-bar-wrap">#}
            {#                <div class="progress-bar" role="progressbar" aria-valuenow="{{ highestAttendanceRate }}" aria-valuemin="0" aria-valuemax="100"></div>#}
            {#              </div>#}
            {#            </div>#}

          </div>

          <div class="col-lg-6">

            <div class="progress">
              {% set individualsInterestRate = (individualsInterestRate * 100)|number_format %}
              <span class="skill">Taux d'interessement des particuliers <i class="val">{{ individualsInterestRate }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ individualsInterestRate }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              {% set companiesInterestRate = (companiesInterestRate * 100)|number_format %}
              <span class="skill">Taux d'interessement des entreprises <i class="val">{{ companiesInterestRate }}%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ companiesInterestRate }}" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            {#            <div class="progress">#}
            {#              <span class="skill">Photoshop <i class="val">55%</i></span>#}
            {#              <div class="progress-bar-wrap">#}
            {#                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>#}
            {#              </div>#}
            {#            </div>#}

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="icofont-bank-alt"></i>
              <span data-toggle="counter-up">{{ companies|length|number_format }}</span>
              <p>Entreprises</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="icofont-addons"></i>
              <span data-toggle="counter-up">{{ activityAreas|length|number_format }}</span>
              <p>Secteurs d'Activité</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-meeting-add"></i>
              <span data-toggle="counter-up">{{ allEvents|length|number_format }}</span>
              <p>Evènements</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="icofont-meeting-add"></i>
              <span data-toggle="counter-up">{{ events|length|number_format }}</span>
              <p>Evènements en cours</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="zoom-in">

        <div class="row">

          {% for company in companies %}
            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="{{ company.logo ? asset('uploads/company_logos/' ~ company.logo) : asset('assets/img/clients/client-default.png') }}" class="img-fluid" alt="">
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services portfolio">
      <div class="container" data-aos="zoom-in">

        <div class="section-title">
          <h2>Evènements</h2>
          <h3><span>Nos évènements</span></h3>
          <p>Visitez nos évènements à venir, en cours ou passés et consultez leurs statistiques en temps réel</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters" class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for eventType in eventTypes %}
                <li data-filter=".filter-event-{{ eventType.name|u.snake }}">{{ eventType.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for event in allEvents %}
            <a href="{{ path('app_home_event_show', {'id': event.id}) }}" class="col-lg-4 col-md-6 portfolio-item filter-event-{{ event.type.name|u.snake }}" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box p-0">
                <div class="member-img">
                  <img src="{{ asset('uploads/events_images/' ~ event.imageUrl) }}" class="img-fluid" style="aspect-ratio: 16/9" alt="">
                </div>
                <h4 class="m-5">{{ event.name }}</h4>
              </div>
            </a>
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{{ asset('assets/img/testimonials/testimonials-1.png') }}" class="testimonial-img" alt="">
            <h3>CCI Bénin</h3>
            <h4>Expert</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{ asset('assets/img/testimonials/testimonials-2.png') }}" class="testimonial-img" alt="">
            <h3>CCI Bénin</h3>
            <h4>Qualité</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{ asset('assets/img/testimonials/testimonials-3.png') }}" class="testimonial-img" alt="">
            <h3>CCI Bénin</h3>
            <h4>Observatoire</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{ asset('assets/img/testimonials/testimonials-4.png') }}" class="testimonial-img" alt="">
            <h3>CCI Bénin</h3>
            <h4>Ahilido</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{{ asset('assets/img/testimonials/testimonials-5.png') }}" class="testimonial-img" alt="">
            <h3>CCI Bénin</h3>
            <h4>F.A.C.S</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Annuaire</h2>
          <h3>Nos <span>Entreprises</span></h3>
          <p>Découvrez les entreprises avec lesquelles vous pouvez rentrer en relation</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters" class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for activityArea in activityAreas %}
                <li data-filter=".filter-company-{{ activityArea.name|u.snake }}">{{ activityArea.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for company in companies %}
            <div class="col-lg-4 col-md-6 portfolio-item {% for activityArea in company.activityAreas %}filter-company-{{ activityArea.name|u.snake }} {% endfor %}">
              <img src="{{ company.logo ? asset('uploads/company_logos/' ~ company.logo) : asset('assets/img/portfolio/portfolio-default.png') }}" class="img-fluid" alt="{{ company.name }}">
              <div class="portfolio-info">
                <h4>{{ company.name }}</h4>
                <p>{{ company.activityAreas|map(a => a.name)|join(' - ') }}</p>
{#                <a href="{{ company.logo ?? asset('assets/img/portfolio/portfolio-1.jpg') }}" data-gall="portfolioGallery" class="venobox preview-link" title="{{ company.name }}"><i class="bx bx-plus"></i></a>#}
                <a href="{{ path('app_home_company_show', {'id': company.id}) }}" class="preview-link" title="{{ company.name }}"><i class="bx bx-plus"></i></a>
                <a href="{{ path('app_join_company_request_new', {'id': company.id}) }}" class="details-link" title="More Details" target="_blank" rel="noopener noreferrer"><i class="bx bx-link"></i></a>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Expertise</h2>
          <h3>Notre équipe d'<span>Experts</span></h3>
          <p>Nos experts spécialisés dans des domaines diverses et disponibles à vous accompagner</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{ asset('assets/img/team/team-1.png') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Expert CCI</h4>
                <span>Expert</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{ asset('assets/img/team/team-2.png') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Expert CCI</h4>
                <span>Expert</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{ asset('assets/img/team/team-3.png') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Expert CCI</h4>
                <span>Expert</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{ asset('assets/img/team/team-4.png') }}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Expert CCI</h4>
                <span>Expert</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Participations</h2>
          <h3>Participer à nos <span>Evènements</span></h3>
          {% if events|length == 0 %}
            <p>Aucun évènement à venir</p>
          {% endif %}
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters" class="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for eventType in eventTypes %}
                <li data-filter=".filter-attendance-{{ eventType.name|u.snake }}">{{ eventType.name }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          {% for event in events %}
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 portfolio-item filter-attendance-{{ event.type.name|u.snake }}" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <span class="advanced" style="background-color: {{ event.type.color }}">{{ event.type.name }}</span>
                <h3>{{ event.name }}</h3>
                <h4><sup>{{ event.startedAt|date('d/m/y') }} - {{ event.endedAt|date('d/m/y') }}</sup></h4>
                <ul>
                  <li>{{ event.place.name }}</li>
                  <li>{{ event.place.standCount|number_format }} places debout</li>
                  <li>{{ event.place.sitCount|number_format }} places assises</li>
                  <li>{{ event.participationRequests|length|number_format }} requêtes de participation</li>
                </ul>
                <div class="btn-wrap">
                  <a href="{{ path('app_event_participate', {'id': event.id}) }}" class="btn-buy">Participer</a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
{#    <section id="faq" class="faq section-bg">#}
{#      <div class="container" data-aos="fade-up">#}

{#        <div class="section-title">#}
{#          <h2>F.A.Q</h2>#}
{#          <h3>Frequently Asked <span>Questions</span></h3>#}
{#          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>#}
{#        </div>#}

{#        <div class="row justify-content-center">#}
{#          <div class="col-xl-10">#}
{#            <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">#}

{#              <li>#}
{#                <a data-toggle="collapse" class="" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq1" class="collapse show" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#              <li>#}
{#                <a data-toggle="collapse" href="#faq2" class="collapsed">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq2" class="collapse" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#              <li>#}
{#                <a data-toggle="collapse" href="#faq3" class="collapsed">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq3" class="collapse" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#              <li>#}
{#                <a data-toggle="collapse" href="#faq4" class="collapsed">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq4" class="collapse" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#              <li>#}
{#                <a data-toggle="collapse" href="#faq5" class="collapsed">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq5" class="collapse" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#              <li>#}
{#                <a data-toggle="collapse" href="#faq6" class="collapsed">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="icofont-simple-up"></i></a>#}
{#                <div id="faq6" class="collapse" data-parent=".faq-list">#}
{#                  <p>#}
{#                    Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.#}
{#                  </p>#}
{#                </div>#}
{#              </li>#}

{#            </ul>#}
{#          </div>#}
{#        </div>#}

{#      </div>#}
{#    </section><!-- End Frequently Asked Questions Section -->#}

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Nous Contacter</span></h3>
{#          <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>#}
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Notre Adresse</h3>
              <p>Avenue du Général de GAULLE 01 BP 31 Cotonou - Bénin</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Notre Email</h3>
              <a href="mailto:info@cci.bj">info@cci.bj</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Téléphones</h3>
              <p>(+229) 21 31 43 86 <br/>(+229) 21 31 20 81</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507133.9509306861!2d1.9945729309336386!3d6.7718020045940435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x102354e69ed7b9bf%3A0xe4577eef64b135c7!2sChambre%20de%20Commerce%20et%20de%20l&#39;Industrie%20du%20B%C3%A9nin!5e0!3m2!1sen!2sbj!4v1678182678743!5m2!1sen!2sbj" style="border:0; width: 100%; height: 384px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <div class="col-lg-6">
            <form action="" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Votre nom" data-rule="minlen:4" data-msg="Veuillez entrer au moins 4 caractères" />
                  <div class="validate"></div>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Veuillez entrer un mail valide" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Veuillez entrer au moins 8 caractères" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Veuillez écrire un message" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message a été reçu. Merci!</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
{% endblock %}
