{% extends "admin_dashboard.html.twig" %}

{% block body %}
    <div class="content-body">
        <div class="container-fluid">
            {{ include('partials/_page_title.html.twig', {'titles': {'Secteurs d\'activité': ''}}) }}
            <!-- row -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Secteurs d'activité</h4>
                            <a href="{{ path('app_activity_area_new') }}" class="btn btn-primary">Ajouter <span
                                    class="btn-icon-right"><i class="fa fa-plus"></i></span>
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="example" class="display" style="min-width: 845px">
                                    {% if activity_areas|length > 0 %}
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Entreprises</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for activity_area in activity_areas %}
                                                <tr>
                                                    <td>{{ loop.index }}</td>
                                                    <td>{{ activity_area.name }}</td>
                                                    <td>{{ activity_area.companies|length }}</td>
                                                    <td>
                                                        <a href="{{ path('app_activity_area_show', {'id': activity_area.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
                                                            <i class="fa fa-eye text-info"></i>
                                                        </a>
                                                        <a href="{{ path('app_activity_area_edit', {'id': activity_area.id}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
                                                            <i class="fa fa-edit text-success"></i>
                                                        </a>
                                                        <a data-toggle="modal" data-target="#deletePopup">
                                                            <i class="fa fa-window-close text-danger"></i>
                                                        </a>
                                                        {{ include('partials/_delete_popup.html.twig', {'action': path('app_activity_area_delete', {'id': activity_area.id})}) }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    {% else %}
                                        Aucun secteur d'activité n'a été trouvé
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ row -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('#confirmButton').click(function () {
            window.location.href = $(this).attr('href');
        });
    </script
{% endblock %}
