{% extends "auth_base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">Entreprises du secteur
						<strong>{{ activity_area.name }}</strong>
					</p>
					<div class="row">
						<div class="col-12">
							<div class="table-responsive">
								<table id="example" class="display expandable-table" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Nom</th>
											<th>Owner</th>
											<th>Collaborators</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for company in activity_area.companies %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ company.name }}</td>
												<td>{{ company.owner.name }}</td>
												<td>{{ company.collaborators|length }}</td>
												<td>
													<a href="{{ path('app_company_show', {'id': company.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
														<i class="mdi mdi-eye text-info"></i>
													</a>
                          <a href="{{ path('app_company_delete', {'id': company.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer">
														<i class="mdi mdi-delete text-danger"></i>
													</a>
												</td>
											</tr>
										{% else %}
											<tr class="odd">
												<td valign="top" colspan="8" class="dataTables_empty">Aucune entreprise n'a été trouvée</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
