<nav class="sidebar sidebar-offcanvas" id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_dashboard') }}">
				<i class="icon-grid menu-icon"></i>
				<span class="menu-title">Dashboard (Entreprise)</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
				<i class="icon-layout menu-icon"></i>
				<span class="menu-title">Entreprises</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_company_index') }}">Liste</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_company_by_company_profile_index') }}">Mes entreprises</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_company_new') }}">Ajouter</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{ path('app_company_collaborators_index') }}">
				<i class="icon-columns menu-icon"></i>
				<span class="menu-title">Collaborateurs</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
				<i class="icon-bar-graph menu-icon"></i>
				<span class="menu-title">Evènements</span>
				<i class="menu-arrow"></i>
			</a>
			<div class="collapse" id="charts">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_index') }}">Liste</a>
					</li>
          			<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_participation_request_index_by_company_profile') }}">Mes Requêtes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_event_attendance_index') }}">Mes Participations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path("app_join_company_request_index") }}">Mes Relations</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</nav>
