{% extends "home/base.html.twig" %}

{% block body %}
    <main id="main" data-aos="fade-up">
        <!-- ======= Breadcrumbs Section ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>{{ company.name }}</h2>
                    <ol>
                        <li><a href="{{ path('app_home') }}">Home</a></li>
                        <li>{{ company.name }}</li>
                    </ol>
                </div>

            </div>
        </section><!-- Breadcrumbs Section -->

        <section id="skills" class="skills">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h3>{{company.name}}</h3>
                    <h2>{{ company.activityAreas|map(a => a.name)|join(' - ') }}</h2>
                </div>

                <div class="row skills-content">
                    <div class="col-lg-6">

                        <div class="progress">
                            {% set participationRate = (participationRate * 100)|number_format %}
                            <span class="skill">Taux de participation <i class="val">{{ participationRate }}%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ participationRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress">
                            {% set attendanceRate = (attendanceRate * 100)|number_format %}
                            <span class="skill">Taux de présence <i class="val">{{ attendanceRate }}%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ attendanceRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

{#                        <div class="progress">#}
{#                            {% set individualsInterestRate = (individualsInterestRate * 100)|number_format %}#}
{#                            <span class="skill">Taux d'interessement des particuliers <i class="val">{{ individualsInterestRate }}%</i></span>#}
{#                            <div class="progress-bar-wrap">#}
{#                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ individualsInterestRate }}" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                            </div>#}
{#                        </div>#}

                        <div class="progress">
                            {% set interestRate = (interestRate * 100)|number_format %}
                            <span class="skill">Taux d'interessement <i class="val">{{ interestRate }}%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ interestRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Skills Section -->

        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="icofont-bank-alt"></i>
                            <span data-toggle="counter-up">{{ company.collaborators|length|number_format }}</span>
                            <p>Collaborateurs</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="icofont-addons"></i>
                            <span data-toggle="counter-up">{{ company.activityAreas|length|number_format }}</span>
                            <p>Secteurs d'Activité</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="icofont-meeting-add"></i>
                            <span data-toggle="counter-up">{{ participationRequestsCount|number_format }}</span>
                            <p>Requêtes de participation</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="icofont-meeting-add"></i>
                            <span data-toggle="counter-up">{{ participatedEventsCount|number_format }}</span>
                            <p>Evènements</p>
                        </div>
                    </div>

                </div>
            </div>
        </section><!-- End Counts Section -->
    </main>
{% endblock %}