{% extends "auth_base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">Mes Entreprises</p>
					<a href="{{ path('app_company_new') }}" class="btn btn-primary btn-icon-text">
						<i class="btn-icon-prepend ti-plus"></i>
						Ajouter
					</a>
					<div class="row">
						<div class="col-12">
							<div class="table-responsive">
								<table id="example" class="display expandable-table" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Nom</th>
											<th>Secteur d'activité</th>
											<th>Collaborators</th>
											<th>Actions</th>
										</tr>
									</thead>
									<tbody>
										{% for company in companies %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ company.name }}</td>
												<td>{{ company.activityAreas|map(a => a.name)|join(' - ') }}</td>
												<td>{{ company.collaborators|length }}</td>
												<td>
													<a href="{{ path('app_company_show', {'id': company.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
														<i class="mdi mdi-eye text-info"></i>
													</a>
													<a href="{{ path('app_company_edit', {'id': company.id}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
														<i class="mdi mdi-pencil text-success"></i>
													</a>
													<a href="{{ path('app_company_delete', {'id': company.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer">
														<i class="mdi mdi-delete text-danger"></i>
													</a>
												</td>
											</tr>
										{% else %}
											<tr class="odd">
												<td valign="top" colspan="8" class="dataTables_empty">Aucun secteur d'activité n'a été trouvé</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
