{% extends 'auth_base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Mes participations à des événements</p>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="" class="display expandable-table" style="width: 100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Evènement</th>
                                        <th>Entreprise Représentée</th>
                                        <th>Présence vérifiée</th>
                                        <th>Présent le</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for attendance in event_attendances %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ attendance.event.name }}</td>
                                            <td>{{ attendance.representedCompany.name }}</td>
                                            <td>
                                                {% if attendance.isVerified %}
                                                    <span class="badge light badge-success">Oui</span>
                                                {% else %}
                                                    <span class="badge light badge-danger">Non</span>
                                                {% endif %}
                                            </td>
                                            <td>{{ attendance.isVerified ? attendance.isVerifiedAt|date('d/m/y H:i') : '-' }}</td>
                                            <td>
                                                <a href="{{ path('app_event_attendance_check_qr_code', {'id': attendance.id}) }}" data-toggle="tooltip" data-placement="top" title="Verifier">
                                                    <i class="mdi mdi-check text-info"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr class="odd">
                                            <td valign="top" colspan="8" class="dataTables_empty">Aucune participation n'a été trouvée</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
