{% extends "auth_base.html.twig" %}

{% block body %}
	<div class="row">
		<div class="col-md-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<p class="card-title">Utilisateurs - Entreprises</p>
					<div class="row">
						<div class="col-12">
							<div class="table-responsive">
								<table id="example" class="display expandable-table" style="width: 100%">
									<thead>
										<tr>
											<th>#</th>
											<th>Nom</th>
											<th>Email</th>
											<th>Entreprises</th>
											<th>Verifié</th>
											<th>actions</th>
										</tr>
									</thead>
									<tbody>
										{% for company_profile in company_profiles %}
											<tr>
												<td>{{ loop.index }}</td>
												<td>{{ company_profile.name }}</td>
												<td>{{ company_profile.user.email }}</td>
												<td>{{ company_profile.companies|length }}</td>
												<td>{{ company_profile.user.isVerified ? 'Oui' : 'Non' }}</td>
												<td>
													<a href="{{ path('app_company_profile_show', {'id': company_profile.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
														<i class="fa fa-eye text-info"></i>
													</a>
												</td>
											</tr>
										{% else %}
											<tr class="odd">
												<td valign="top" colspan="8" class="dataTables_empty">Aucun compte entreprise n'a été trouvé</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
