<div class="col-12 grid-margin">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Points de rencontre</h4>
			{{ form_start(form, {"attr": {"class": "form-sample"}}) }}
			<p class="card-description">
				Ajouter un point de rencontre
			</p>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.name, 'Nom', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du point de rencontre'}}) }}
						</div>
					</div>
        </div>
        <div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.standCount, 'Places (debout)', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.standCount, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
        </div>
        <div class="col-md-6">
					<div class="form-group row">
						{{ form_label(form.sitCount, 'Places (assis)', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
						<div class="col-sm-9">
							{{ form_widget(form.sitCount, {'attr': {'class': 'form-control'}}) }}
						</div>
					</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mr-2">{{ submit_label ?? 'Enregistrer' }}</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>
