{% extends "admin_dashboard.html.twig" %}

{% block body %}
	<div class="content-body">
		<div class="container-fluid">
			{{ include('partials/_page_title.html.twig', {'titles': {'Points de rencontre': ''}}) }}
			<!-- row -->

			<div class="row">
				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Points de rencontre</h4>
							<a href="{{ path('app_place_new') }}" class="btn btn-primary">Ajouter
								<span class="btn-icon-right">
									<i class="fa fa-plus"></i>
								</span>
							</a>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="example" class="display" style="min-width: 845px">
									{% if places|length > 0 %}
										<thead>
											<tr>
												<th>#</th>
												<th>Name</th>
												<th>Places (debout)</th>
												<th>Places (assis)</th>
												<th>Places (total)</th>
												<th>Evènements</th>
												<th>actions</th>
											</tr>
										</thead>
										<tbody>
											{% for place in places %}
												<tr>
													<td>{{ loop.index }}</td>
													<td>{{ place.name }}</td>
													<td>{{ place.standCount|number_format }}</td>
													<td>{{ place.sitCount|number_format }}</td>
													<td>{{ (place.standCount + place.sitCount)|number_format }}</td>
													<td>{{ place.events|length }}</td>
													<td>

														<a href="{{ path('app_place_show', {'id': place.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
															<i class="fa fa-eye text-info"></i>
														</a>
														<a href="{{ path('app_place_edit', {'id': place.id}) }}" data-toggle="tooltip" data-placement="top" title="Consulter">
															<i class="fa fa-edit text-success"></i>
														</a>

														<a data-toggle="modal" data-target="#deletePopup">
															<i class="fa fa-window-close text-danger"></i>
														</a>

														{{ include('partials/_delete_popup.html.twig', {'action': path('app_place_delete', {'id': place.id})}) }}
													</td>
												</tr>
											{% endfor %}
										</tbody>
									{% else %}
										Aucun point de rencontre n'a été trouvée
									{% endif %}
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #/ row -->
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script>
	$('#confirmButton').click(function () {
window.location.href = $(this).attr('href');
});
</script {% endblock %}
