{% extends "auth_base.html.twig" %}

{% block body %}
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{ company.name }}</h4>
				{{ form_start(form, {"attr": {"class": "form-sample"}}) }}
				<p class="card-description">
					Ajouter des collaborateurs
				</p>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							{{ form_label(form.collaborators, 'Collaborateurs', {'label_attr': {'class': 'col-sm-3 col-form-label'}}) }}
							<div class="col-sm-9">
								{{ form_widget(form.collaborators, {'attr': {'class': 'js-example-basic-multiple w-100'}}) }}
							</div>
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary mr-2">{{ submit_label ?? 'Enregistrer' }}</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}
